.MyTech {
  position: relative;
  width: 100%;
  height: 875px;
  background: #3A6EE8;
  z-index: 0;
}

/* Hiding Stuff */
.MyTech .hidden {
  display: none;
}

.MyTech .content {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.MyTech .vis-container {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;

  /* Animation Default */
  opacity: 1;
}
.MyTech .vis-container canvas {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.MyTech .instructions {
  position: absolute;
  bottom: 75px;
  right: 25%;
  transform: translateX(50%);
  color: white;
  opacity: 0.5;
  font-family: Roboto-Mono;
  z-index: 2;
}

.MyTech .text-container {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  z-index: 2;
  border-radius: 10px;
  border: 2px solid #000000;
  padding-top: 10px;
  pointer-events: none;
  box-shadow: 1px 1px #e85d3a, 2px 2px #e85d3a, 3px 3px #e85d3a, 4px 4px #e85d3a,
    5px 5px #e85d3a, 6px 6px #e85d3a, 7px 7px #e85d3a, 8px 8px #e85d3a,
    9px 9px #e85d3a;
  /* Animation Default */
  opacity: 0;
}

.MyTech .tech-list-container {
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 40%;
  border: 2px solid #000000;
  box-shadow: 1px 1px #e85d3a, 2px 2px #e85d3a, 3px 3px #e85d3a, 4px 4px #e85d3a,
    5px 5px #e85d3a, 6px 6px #e85d3a, 7px 7px #e85d3a, 8px 8px #e85d3a,
    9px 9px #e85d3a;
  border-radius: 10px;
  padding: 10px;
}
.MyTech .header {
  font-family: Roboto-Mono;
  font-size: 30px;
  color: white;
  text-decoration: underline;
  margin-bottom: 5px;
}
.MyTech .item {
  font-family: Roboto-Thin;
  font-size: 20px;
  color: #000000;
  margin: 5px 0px;
  line-height: 130%;

}
.MyTech .item::before {
  content: '•';
  position: relative;
  display: inline;
  margin: 0px 0.2em;
}

.MyTech .title {
  position: relative;
  font-family: Fredoka;
  font-size: 50px;
  color: #ffffff;
  /* -webkit-text-stroke-color: #3A6EE8;
  -webkit-text-stroke-width: 1px; */
  color: #3A6EE8;
  /* color: #000000; */
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
  margin-bottom: 20px;
  /* text-shadow: 1px 1px #e85d3a, 2px 2px #e85d3a, 3px 3px #e85d3a,
    4px 4px #e85d3a, 5px 5px #e85d3a, 6px 6px #e85d3a, 7px 7px #e85d3a,
    8px 8px #e85d3a, 9px 9px #e85d3a; */
}
.MyTech .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  z-index: -1;
}

.MyTech .sub-text {
  color: white;
  text-align: left;
  font-family: Roboto-Thin;
  font-size: 20px;
  align-self: flex-start;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

/* Animations */
.MyTech.anim .text-container .title {
  animation-name: fromLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fromLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.MyTech.anim .text-container .sub-text {
  animation-name: fromBelow;
  animation-delay: 0.1s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes fromBelow {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.MyTech.anim .text-container {
  animation-name: myTechFadeIn;
  animation-delay: 0.1s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.MyTech.anim .vis-container {
  opacity: 0;
  animation-name: myTechFadeIn;
  animation-delay: 0.2s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes myTechFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1300px) {
  .MyTech .text-container {
    width: 45%;
  }
}

/* Switch to columns */
@media (max-width: 1000px) {
  .MyTech {
    height: 900px;
  }
  .MyTech .text-container {
    position: relative;
    margin: 0;
    left: 0;
    top: 50px;
    transform: none;
    padding: 10px 5px;
    width: 90%;
    margin: auto;
  }

  .MyTech .sub-text {
    text-align: center;
    width: 95%;
    margin: auto;
    padding-bottom: 15px;
  }

  .MyTech .tech-list-container {
    border-radius: 10px;
    position: relative;
    top: 100px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
  .MyTech .header {
    font-size: 27px;
  }
  .MyTech .item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .MyTech .sub-text {
    font-weight: 600;
    line-height: 1.5;
  }
  .MyTech .item {
    font-weight: 600;
    line-height: 1.5;
  }
}
@media (max-width: 580px) {
  .MyTech .title {
    font-size: 8vw;
  }
  .MyTech {
    height: 950px;
  }
}
